*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    padding: 15px;
    display: flex;
    background-color: rgb(33, 32, 32);
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    gap: 30px;
    font-size: 12px;
    font-weight: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#center{
    color: white;
    text-align: center;
    padding: 40px 30px;
    font-size: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    height: 90%;
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#center>button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}

#two{
    color: black;
    background-color: rgb(241, 237, 232);
    margin: 10px 0px;
    padding: 40px 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_mediumtall.jpg);
    background-position: center;
    background-size: cover;
}
#two>button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}  
#three{
    height: 95%;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 40px 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_mediumtall.jpg);
    background-size: cover;
    background-position: center;
}
#three>button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}
#leftupbottom{
    height: 80%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    background-position: 25% 90%;
    background-size: cover;
    margin: 15px 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px 30px;

}
#leftupbottom>button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}
#health{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rightupbottom{
    height: 80%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 15px 195px;
    position: absolute;
    top: 265%;
    left: 39%;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 40px 30px;
}
#rightupbottom>button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}
#Air{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#leftdownbottom{
    height: 80%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium.jpg);
    background-position: center;
    background-size: 120%;
    margin: 15px 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px 30px;
}
#trade{
    margin-top: 10px;
    font-size: 20px;
}

#leftdownbottom>button{
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 50px;
    background-color:rgb(29, 120, 247);
    color: #f5f5f5;
    border: none;
    font-size: 16px;

}
#rightdownbottom{
    height: 80%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ci/images/promos/apple-card/promo_apple_card__5cm7draujpey_medium.jpg);
    background-position: 25% 40%;
    background-size: 90%;
    margin: 15px 195px;
    position: absolute;
    bottom: -331%;
    left: 39%;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px 30px;
}
#card{
    font-size: 20px;
}
#rightdownbottom>button{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 70px;
    background-color: rgb(29, 120, 247);
    color: white;
    border: none;
    font-size: 17px;
}